.header {
  background-color: $green;
  background-image: url('../../assets/images/bg-header-mobile.svg');
  background-size: cover;

  width: 100%;
  height: $header-height;

  @media (min-width: $desktop) {
    background-image: url('../../assets/images/bg-header-desktop.svg');
  }
}