// fonts
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

// colors
$green: #5da5a4;
$pale-green: #f0fafb;
$light-green: #edf9f7;
$dark-green: #2d3937;
$gray: #7B8E8E;

// variables shared across multiple files
$header-height: 155px;

// rwd breakpoints
$desktop: 1280px;